<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../acre-address-form/acre-address-form.html">
<link rel="import" href="../iron-ajax/iron-ajax.html" />

<!--
An element to create a address form using the metheora enderecos api

Example:

    <metheora-address-form></metheora-address-form>

Example:

    <metheora-address-form hide-map></metheora-address-form>

@demo demo/index.html
@hero hero.svg
-->

<dom-module id="metheora-address-form">
    <template>
        <style>
            :host {
                display: block;
                box-sizing: border-box;
            }
        </style>

        <iron-ajax auto 
                    url="https://enderecos.cybercash.com.br/api/estados"
                    handle-as="json" 
                    on-request="_statesRequestSent"
                    on-response="_statesLoaded" 
                    debounce-duration="300"></iron-ajax>

        <iron-ajax auto 
                    url="[[_getCitiesUrl]]" 
                    handle-as="json" 
                    on-request="_cityRequestSent"
                    on-response="_citiesLoaded" 
                    debounce-duration="300"></iron-ajax>
                    
        <iron-ajax auto 
                    url="[[_getZipDataUrl]]" 
                    handle-as="json" 
                    on-request="_zipRequestSent"
                    on-response="_zipDataLoaded" 
                    debounce-duration="300"></iron-ajax>

        <acre-address-form id="acreAddressForm" 
                            address="{{address}}" 
                            always-float-label="[[alwaysFloatLabel]]"
                            cities="[[cities]]" 
                            hide-map="[[hideMap]]" 
                            is-valid="{{isValid}}" 
                            states="[[states]]" 
                            api-key=[[apiKey]]
                            on-ac-address-changed="_addressChanged" 
                            on-ac-address-is-valid="_addressValid">
                <content></content>
        </acre-address-form>
    </template>

    <script>
        Polymer({
            is: 'metheora-address-form',

            properties: {
                address: {
                    type: Object,
                    notify: true,
                    value: function() {
                        return {
                            zip: '',
                            street: '',
                            address: '',
                            number: '',
                            complement: '',
                            neighbourhood: '',
                            city: '',
                            state: '',
                            reference: '',
                            latitude: 0,
                            longitude: 0,
                            ibge_code: 0,
                        }
                    },
                },

                /**
                 * Defines the map visibility
                 */
                hideMap: {
                    type: Boolean,
                    value: false
                },
                /**
                 * Says if the address is valid or not
                 * An address is valid if it has a Zip code, a neighbourhood, a city, a state and a street
                 */
                isValid: {
                    type: Boolean,
                    value: false,
                    notify: true,
                },
                
                /**
                 * If true show all  input labels
                 */
                alwaysFloatLabel: {
                    type: Boolean,
                    value: false
                },

                /**
                 * the google maps api key
                 */
                apiKey: {
                    type: String,
                    value: ""
                },

                _lastStateSelected: {
                    type: String,
                    value: "",
                }
            },

            observers: [
                '_stateChanged(address.state)',
                '_zipChanged(address.zip)',
            ],

            // Element Lifecycle

            ready: function() {
                // `ready` is called after all elements have been configured, but
                // propagates bottom-up. This element's children are ready, but parents
                // are not.
                //
                // This is the point where you should make modifications to the DOM (when
                // necessary), or kick off any processes the element wants to perform.
            },

            attached: function() {
                // `attached` fires once the element and its parents have been inserted
                // into a document.
                //
                // This is a good place to perform any work related to your element's
                // visual state or active behavior (measuring sizes, beginning animations,
                // loading resources, etc).
            },

            detached: function() {
                // The analog to `attached`, `detached` fires when the element has been
                // removed from a document.
                //
                // Use this to clean up anything you did in `attached`.
            },

            //private behaviors
            /**
             * The `meth-states-loading` event is fired when the request to load states is sent
             *
             * @event meth-states-loading
             * @detail null
             */
            _statesRequestSent: function(e){
                 this.fire("meth-states-loading");
                 this.fire("meth-data-loading");
            },
            
            /**
             * The `meth-states-loaded` event is fired when the request to load states finishes
             *
             * @event meth-states-loaded
             * @detail {{states}}
             */
            _statesLoaded: function(e) {
                this.states = e.detail.xhr.response.map(function(item) {
                    return item.Nome;
                });
                 this.fire("meth-states-loaded", this.states);
                 this.fire("meth-data-loaded");
            },
            
            /**
             * The `meth-cities-loading` event is fired when the request to load cities is sent
             *
             * @event meth-cities-loading
             * @detail {{state}}
             */
            _cityRequestSent: function(e){
                 this.fire("meth-cities-loading", this.address.state);
                 this.fire("meth-data-loading");
            },
            
            /**
             * The `meth-cities-loaded` event is fired when the request to load cities finishes
             *
             * @event meth-cities-loaded
             * @detail {{cities}}
             */
            _citiesLoaded: function(e) {
                var cities = e.detail.xhr.response.map(function(item) {
                    return item.Nome;
                });

                var sCity = this.address.city;

                this.cities = cities;
                this.set('address.city', sCity);
                this.fire("meth-cities-loaded", cities);
                this.fire("meth-data-loaded");
            },
            
            /**
             * The `meth-zip-loading` event is fired when the request to load data from a zip code is sent
             *
             * @event meth-zip-loading
             * @detail {{zip}}
             */
            _zipRequestSent: function(e){
                this.fire("meth-zip-loading", this.address.zip);
                this.fire("meth-data-loading");
            },

            /**
             * The `meth-zip-loaded` event is fired when the request to load data from zip code finishes
             *
             * @event meth-zip-loaded
             * @detail {{address:address}
             */
            _zipDataLoaded: function(e) {
                var data = e.detail.xhr.response[0];
                if (data) {

                    this.set('address.street', data.Tipo + " " + data.Nome);
                    this.set('address.neighbourhood', data.Bairro.Nome);
                    this.set('address.state', data.Bairro.Cidade.UF);
                    this.set('address.ibge_code', data.Bairro.Cidade.Id);
                    this._stateChanged(this.address.state);

                    if (!this.cities || this.cities.length == 0) {
                        this.cities = [data.Bairro.Cidade.Nome];
                    }
                    this.set('address.city', data.Bairro.Cidade.Nome);
                }
                this.fire("meth-zip-loaded", this.address);
                this.fire("meth-data-loaded");
            },

            _stateChanged: function(e) {
                if (e) {
                    this._getCitiesUrl = "https://enderecos.cybercash.com.br/api/estado/" + e + "/cidades";
                }
            },

            _zipChanged: function(e) {
                e = e.replace(/\D+/g, '');
                if (e && e.length == 8) {
                    this._getZipDataUrl = "https://enderecos.cybercash.com.br/api/cep/" + e;
                }
            },

            /**
             * The `meth-address-is-valid` event is fired when the address becomes valid
             *
             * @event meth-address-is-valid
             * @detail {{isValid: isValid}}
             */
            _addressValid: function(e) {
                if(this.address.ibge_code)
                    this.fire("meth-address-is-valid", this.isValid);
            },

            /**
             * The `meth-address-changed` event is fired whenever a property inside the address object changes
             *
             * @event meth-address-changed
             * @detail {{address: address}}
             */
            _addressChanged: function(e) {
                this.fire("meth-address-changed", this.address);
            },
            
            validate: function() {
                return this.$.acreAddressForm.validate();
            }
            
            /**
             * The `meth-data-loading` event is fired whenever a request is sent to load data 
             *
             * @event meth-data-loading
             * @detail null
             */
            
            /**
             * The `meth-data-loaded` event is fired whenever a request to load data finished
             *
             * @event meth-data-loaded
             * @detail null
             */
        });
    </script>
</dom-module>